@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;600;700;800;900&display=swap');

.header {
   background-image: url("../images/logo.webp");
   background-repeat: no-repeat;
   background-position: 25px 25px;
   background-size: 215px auto;
}

/* Content3 */
.content3 img {
   max-width: 20%;
   margin-left: 0px;
}

main {
   display: flex;
   flex-wrap: wrap;
   margin: auto;
}

/* Content4 */
.actualitiesDescription{
   margin-left: 20px;
}

.filmCard1 {
   margin-bottom: 2em;
}

/* Footer */
      .content5 {
      padding-block: 1em;
      padding-inline: 1.5em;
      }

      footer ul {
      padding-inline-start: 0;
      }

      .icons{
         display: flex;
         justify-content: space-around;
      }