@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;600;700;800;900&display=swap');

 /* Content3 */
.content3 img {
   max-width: 20%;
   margin-left: 0px;
}

main {
   display: flex;
   flex-wrap: wrap;
   margin: auto;
}

/* Footer */
      .content5 {
      padding-block: 1em;
      padding-inline: 1.5em;
      }

      footer ul {
      padding-inline-start: 0;
      }