@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;600;700;800;900&display=swap');


   /* Footer */
      .content5 {
      padding-block: 1em;
      padding-inline: 1.5em;
      }

      footer ul {
      padding-inline-start: 0;
      }